<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../styles/index.css"/>
    <link rel="stylesheet" href="../styles/blog.css"/>
    <!-- Letras -->
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet"/>
    <link
        href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet"/>
    <!-- ICONOS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/4016785771.js" crossorigin="anonymous"></script>

    <title>Sunset Crush | Blog</title>

</head>

<body>
    <!-- AQUÍ INICIAL LA BARRA -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="/SunsetCrush">Sunset Crush</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/SunsetCrush">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                                        <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="./blog.html">Blog</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="./productos.html">Products</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="./servicios.html">SALON</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="./about.html">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- AQUI TERMINA BARRA CONTENIDO -->
    <!-- CONTENIDO 1 -->
    <section><br></section>
    <section>
        <h1 class="site-heading text-center text-white d-none d-lg-block">
            <span class="site-heading-upper text-primary mb-3">Beauty blog · Salon · store</span>
            <span class="site-heading-lower text-dark">S U N S E T · C R U S H </span>
        </h1>
    </section>

    <!-- AQUI INCIA CAROUSEL -->
    <section>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <img src="../assets/Carrosel1.png" class="d-block w-100" alt="..."/>
                <div class="carousel-caption d-none d-md-block">
                    <li class="list-inline-item">
                        <i><a
                                href="https://www.instyle.com/beauty/nails/best-pedicure-colors-summer">
                                <h2 class="sombra">Apparently Everyone’s Buying Lingerie Right Now</h2>
                </div>
            </div>
                <!-- foto 2 -->
                <div class="carousel-item">
                    <img src="../assets/Carrosel2.png" class="d-block w-100" alt="..."/>
                    <div class="carousel-caption d-none d-md-block">
                        <li class="list-inline-item">
                            <i><a
                                    href="https://www.vogue.com/article/a-new-frontier-for-self-love-and-sex-toys-in-the-time-of-covid-19">
                                    <h2 class="sombra">Apparently Everyone’s Buying Lingerie Right Now</h2>
                    </div>
                </div>
                <!-- foto 3 -->
                <div class="carousel-item">
                    <img src="../assets/Carrosel3.png" class="d-block w-100" alt="..."/>
                    <div class="carousel-caption d-none d-md-block">
                        <li class="list-inline-item">
                            <a href="https://www.instyle.com/fashion/bluebella-lingerie-nordstrom">
                                <i><h2 class="sombra" > A New Frontier for Self-Love-And Sex </h2></i>
                                    <h2 class="sombra"> In the time of COVID-19. </h2>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <!-- AQUI TERMINA CAROUSEL -->
    <!-- OTRAS NOTICIAS -->
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <!-- noticia 1 -->
                <div class="post-preview">
                    <a href="https://www.vogue.com/article/irina-shayk-moschino-camo-sweatsuit-protective-scarf">
                        <h2 class="post-title"> Irina Shayk’s Quarantine Look Means Business </h2>
                        <h3 class="post-subtitle">When it comes to protective dressing, Irina Shayk isn’t taking any chances. </h3>
                    </a>
                    <p class="post-meta">Posted by Janelle Okwodu
                        <a href="https://www.vogue.com/fashion/celebrity-style">Celebrity style</a>
                        on April 15, 2020</p>
                </div>
                <hr>
                <!-- noticia 2 -->
                <div class="post-preview">
                    <a href="https://www.vogue.com/article/irina-shayk-moschino-camo-sweatsuit-protective-scarf">
                        <h2 class="post-title">What the Style of Todd Haynes’s Safe Can Tell Us About Fashion in Isolation</h2>
                        <h3 class="post-subtitle">When COVID-19 became a national crisis and people across the country were first forced to social distance in their homes, I found myself picturing the final scene of Todd Haynes’s seminal 1995 film Safe. </h3>
                    </a>
                    <p class="post-meta">Posted by Rachel Hahn
                        <a href="https://www.vogue.com/fashion">Fashion</a>
                        on April 15, 2020</p>
                </div>
                <!-- noticia 3 -->
                <hr>
                <div class="post-preview">
                    <a href="https://www.vogue.com/article/serena-williams-social-distancing-tennis-challenge-roger-federer">
                        <h2 class="post-title">Watch Serena Williams Take on the “Tennis Challenge”—Playful Narration Included </h2>
                        <h3 class="post-subtitle">Working remotely looks different depending on your field. </h3>
                    </a>
                    <p class="post-meta">Posted by Calin Van Paris
                        <a href="https://www.vogue.com/beauty">beauty</a>
                        on April 15, 2020</p>
                </div>
                <!-- noticia 4 -->
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            At 30, Emma Watson Is Hollywood’s Queen of Ethical Dressing </h2>
                        <h3 class="post-subtitle">Admit it, it’s hard to believe Emma Watson is 30. </h3>
                    </a>
                    <p class="post-meta">Posted by Janelle Okwodu
                        <a href="https://www.vogue.com/fashion/celebrity-style">celebrity-style</a>
                        on April 15, 2020</p>
                </div>
                <hr>
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="https://www.vogue.com/">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!-- Redes sociales -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/cristinacascajares/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/Criistina_Cg">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter  fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/den-cmyk/SunsetCrush">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- AQUÍ INICIAL LA BARRA -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="/SunsetCrush">Sunset Crush</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/SunsetCrush">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                                        <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="./blog.html">Blog</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="./productos.html">Products</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="./servicios.html">SALON</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="./about.html">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- AQUI TERMINA BARRA CONTENIDO -->
    <!-- PIE DE PÁGINA -->

    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright &copy; Your Website 2020</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>